*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    overflow: hidden;
    font-family: sans-serif;
  }
  
  .tinder {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
  
  .loaded.tinder {
    opacity: 1;
  }
  
  .tinder--status {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
  }
  
  .tinder--status i {
    font-size: 100px;
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100px;
    margin-left: -50px;
  }
  
  .tinder_love .fa-heart {
    opacity: 0.7;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  .tinder_nope .fa-remove {
    opacity: 0.7;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  .tinder--cards {
    flex-grow: 1;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
  }
  
  .tinder--card {
    display: inline-block;
    width: 90vw;
    max-width: 400px;
    height: 70vh;
    background: #FFFFFF;
    padding-bottom: 40px;
    border-radius: 8px;
    /* overflow: hidden; */
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: grab;
    overflow-y: scroll;
  }


  
  .moving.tinder--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .tinder--card figure{
    height: 60%;
    margin: 0px;
  }
  
  .tinder--card img {
    max-width: 100%;
    pointer-events: none;
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  .tinder--card .description{
    text-align: start;
    font-size: 15px !important;
}
  
  .info{
    display: flex;
    padding: 0 16px;
  }

  .info p:first-child{
    padding-left: 0px;
  }

  .compatible{
    background-color: #42af5fbf;
    margin-top: 0px !important;
    padding: 10px 0 !important;
    color: #FFFFFF;
  }
  
  .tinder--card h3 {
    margin-top: 32px;
    font-size: 32px;
    padding: 0 16px;
    pointer-events: none;
    text-transform: capitalize;
    text-align: start;
  }
  
  .tinder--card p {
    margin-top: 24px;
    font-size: 20px;
    padding: 0 16px;
    pointer-events: none;
    text-transform: capitalize;
  }
  
  .tinder--buttons {
    flex: 0 0 100px;
    text-align: center;
    padding-top: 20px;
  }
  
  .tinder--buttons button {
    border-radius: 50%;
    line-height: 60px;
    width: 60px;
    border: 0;
    background: #FFFFFF;
    display: inline-block;
    margin: 0 8px;
    height: 60px;
  }
  
  .tinder--buttons button:focus {
    outline: 0;
  }
  
  .tinder--buttons i {
    font-size: 32px;
    margin-left: -22%;
  }
  
  .fa-heart {
    color: #FFACE4;
  }
  
  .fa-remove {
    color: #CDD6DD;
  }



::-webkit-scrollbar {
  background: #fff;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #d1d1d1;
}


.swal2-popup.swal2-modal.swal2-icon-success.swal2-show, .swal2-success-circular-line-left, .swal2-success-circular-line-right, .swal2-success-fix{

  background: linear-gradient(45deg, #fd2b75, #ff4b2b) !important;
}

.swal2-success-ring{
  color: #fff !important;
  border-color: #fff !important;
}

.swal2-success-line-long, .swal2-success-line-tip{
  background-color: #fff !important;
}

.swal2-confirm.swal2-styled{
  background-color: transparent;
  border: solid 2px #fff;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0) !important;
}

.swal2-title{
  color: #fff;
}

.swal2-html-container{
  color: #fff !important;
}


  