/* Réinitialisation générale pour une base propre */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header ul {
    list-style-type: none;
    display: flex;
}

header ul li{
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

form {
    margin: 50px auto;
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], 
textarea, 
select, 
input[type="number"], 
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 20px auto 0;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

#affichage {
    width: 60%;
}

.error-messages {
    color: red;
    background-color: #ffe6e6;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

table a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

table a:hover {
    background-color: #ffe6e6;
}

table img {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
}

#image {
    margin-bottom: 15px;
}
